.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* h1 {
  font-size: 24px;
  margin-bottom: 20px;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

/* h3 {
  font-size: 18px;
  margin-bottom: 10px;
} */

.purchaseButton {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.purchaseButton[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.rewardMessage {
  margin-top: 20px;
  font-size: 16px;
  color: green;
}
